<!-- Page header -->
<div>
    <div class="page-header-content">
        <div class="page-title">
            <h4> Categories </h4>
        </div>
        <div class="heading-elements">
            <button type="button" class="btn btn-black btn-radius" data-toggle="modal" data-target="#add_category">
                Add new category </button>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">

            <!-- Support tickets -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title"> Dibs categories </h6>
                </div>



                <table class="table table-striped media-library table-lg">
                    <thead>
                        <tr>
                            <th> Category name </th>
                            <th>
                                First</th>
                            <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i>
                                boxes</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">

                            <td>
                                <h3 class="no-margin">{{category.name}}</h3>
                            </td>
                            <td>
                                <mat-slide-toggle (change)="firstCategory($event,category)"
                                    [checked]="category.isFirst">
                                </mat-slide-toggle>
                            </td>
                            <td>


                                <span *ngFor="let box of category.boxes">{{box.name}}, </span>

                            </td>

                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a data-display="static" class="dropdown-toggle" data-toggle="dropdown"><i
                                                class="icon-menu7"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a data-toggle="modal" data-target="#add_category"
                                                    (click)="openEdit(category)"><i
                                                        class="icon-pencil7 text-primary"></i>
                                                    Edit </a></li>
                                            <li><a (click)="deleteCategory(category)"><i
                                                        class="icon-cross2 text-danger"></i>
                                                    Remove </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- /support tickets -->

        </div>
    </div>
    <!-- /dashboard content -->
    <!-- Footer -->
    <div class="footer text-muted">
        All rights reserved to <a> Dibs </a> &copy; 2020.
    </div>
    <!-- /footer -->

</div>
<app-add-edit-category (setSelectedTonull)='setToNull()' [selectedCategory]="selected" [edit]="edit"
    (categoryCreated)="getCategories($event)"></app-add-edit-category>