<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <!-- login form -->
                <form #f="ngForm" action="">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <img src="assets/images/image1-30.png" width="110" />
                            <h5 class="content-group">Login to your account <small class="display-block">Enter your
                                    credentials below</small></h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input #username="ngModel" [(ngModel)]="login.username" type="text" name="username" required
                                class="form-control" placeholder="Username">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                            <span class="help-block" *ngIf="username.touched && username.invalid"> username is
                                required</span>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" required #password="ngModel" name="password" [(ngModel)]="login.password"
                                class="form-control" placeholder="Password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <span class="help-block" *ngIf="password.touched && password.invalid"> password is
                                required</span>

                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <div style="height: 10px;"></div>
                            <select style="width: 200px;height: 21px;" name="userType" [(ngModel)]="userType"
                                matNativeControl>
                                <option selected value="admin">Admin</option>
                                <option value="BoxOwner">Box Owner</option>
                            </select>
                        </div>
                        <div style="text-align: center !important;" class="form-group">
                            <button *ngIf="!loading" [disabled]="f.invalid" (click)="LoginAdmin(f);"
                                class="btn btn-block btn-black"> Log in
                            </button>
                            <div style=" width: 100px;
                            height: 100px;
                            display: inline-block;">
                                <mat-spinner *ngIf="loading" color="primery" diameter="30" mode="indeterminate">
                                </mat-spinner>
                            </div>

                        </div>


                        <!-- <div class="text-center">
                            <a href="forgot-password.html">Forgot password?</a>
                        </div> -->
                    </div>
                </form>
                <!-- /simple login form -->


                <!-- Footer -->
                <div class="footer text-muted text-center">
                    All rights reserved to <a href="#"> Dibs </a> &copy; 20.
                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>