input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    box-shadow: 0 0 5px rgb(207, 12, 12);
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(207, 12, 12);}
span{
    color: rgb(207, 12, 12)
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: rgb(15, 59, 17);
}