<div id="add_category" data-backdrop="static" data-keyboard="false" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="close()" class="close" #closebutton data-dismiss="modal">&times;</button>
                <h5 *ngIf="!edit" class="modal-title"> Add new category </h5>
                <h5 *ngIf="edit" class="modal-title"> edit category </h5>
            </div>
            <form #f="ngForm" action="">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>name EN</label>
                        <input required #nameEN="ngModel" name="nameEN" [(ngModel)]="category.name" class="form-control"
                            placeholder="Category name">
                        <span class="help-block" *ngIf="nameEN.touched &&nameEN.invalid"> Name
                            is
                            required</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>name AR</label>
                        <input required #nameAR="ngModel" name="nameAR" [(ngModel)]="category.nameAR" class="form-control"
                            placeholder="Category arabic name">
                        <span class="help-block" *ngIf="nameAR.touched &&nameAR.invalid"> Arabic name
                            is
                            required</span>
                    </div>
                </div>
                <div class="col-md-12">

                    <mat-form-field>
                        <mat-label>boxes</mat-label>
                        <mat-select name="selectedBox" [(ngModel)]="category.boxes" multiple>
                            <mat-option *ngFor="let box of boxes" [value]="box._id">{{box.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
            </form>
            <div class="modal-footer">
                <button type="button" (click)="close()" class="btn btn-link" data-dismiss="modal">Close</button>
                <button *ngIf="!f.invalid && !loading && category.boxes.length && !edit" (click)="save(f); f.reset();"
                    type="button" class="btn btn-success">create category</button>
                <button *ngIf="!f.invalid && !loading && category.boxes.length && edit" (click)="save(f); f.reset();"
                    type="button" class="btn btn-success">edit category</button>
                <button *ngIf="f.invalid || !category.boxes.length && !loading" disabled type="button"
                    class="btn btn-success">Complete all
                    fields</button>

                <mat-spinner style="z-index: 1500;" *ngIf="loading" color="primery" diameter="30" mode="indeterminate">
                </mat-spinner>
            </div>
        </div>
    </div>
</div>