<div>
    <div>
        <p *ngIf="data.status==404">
            Not valid username or password
        </p>
        <p *ngIf="data.status!=404">
            {{data.reason}}
        </p>

    </div>
</div>