<!-- Page header -->
<div class="">
    <div class="page-header-content">
        <div class="page-title">
            <h4> Boxes </h4>
        </div>
        <div class="heading-elements">
            <button *ngIf="!boxOwnerData" type="button" class="btn btn-black btn-radius" data-toggle="modal"
                data-target="#add_product">
                Add new box </button>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Checkbox selection -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title"> Dibs boxes </h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="reload"></a></li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped media-library table-lg">
                    <thead>
                        <tr>
                            <th>Box name</th>
                            <th>Logo</th>
                            <th> Banner</th>
                            <th>Price</th>
                            <th>Active</th>
                            <th>Available boxes</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let box of boxes">

                            <td>{{box.name}}</td>
                            <td>
                                <img width="50" height="50" [src]="box.logo" alt="Logo">
                            </td>
                            <td>
                                <img width="50" height="50" [src]="box.banner" alt="banner">
                            </td>
                            <td>{{box.price}}</td>
                            <td>
                                <mat-slide-toggle (change)="activeBox($event,box)" [checked]="box.isActive">

                                </mat-slide-toggle>
                            </td>
                            <td>{{box.availableBoxes}}</td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a data-toggle="modal" data-target="#add_product"
                                                    (click)="openEdit(box);"><i class="icon-pencil7"></i>
                                                    Edit file</a></li>
                                            <li class="divider"></li>
                                            <li><a (click)="deleteBox(box)"><i class="icon-bin"></i>delete !!</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /checkbox selection -->

        </div>
    </div>
    <!-- /dashboard content -->
    <!-- Footer -->
    <div class="footer text-muted">
        All rights reserved to <a href="#"> Dibs </a> &copy; 2020.
    </div>
</div>

<app-add-edit-box [selectedBox]="selected" [edit]="edit" (boxCreated)="getBoxes($event)"
    (setSelectedTonull)='setToNull()'>
</app-add-edit-box>
<!-- /footer -->