<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bb7320;">
    <a class="navbar-brand">Dibs</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{userType}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a [routerLink]="" (click)="Logout()"><i class="icon-switch2"></i> Logout</a></li>
    </div>
    </li>
    </ul>
    </div>
</nav>
<div class="page-container" style="min-height: 773px;">

    <div class="page-content">

        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="#" class="media-left"><img src="assets/images/placeholder.jpg"
                                    class="img-circle img-sm" alt=""></a>
                            <div class="media-body">
                                <span class="media-heading text-semibold"> Admin </span>
                                <div class="text-size-mini text-muted">
                                    System Admin
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <li routerLinkActive="active"><a routerLink="./boxes"> <img src="assets/images/product.svg"
                                        width="25">
                                    <span>Boxes</span> </a></li>
                            <li *ngIf="userType == 'admin'" routerLinkActive="active"><a routerLink="./categories">
                                    <img src="assets/images/category.svg" width="25"> <span>
                                        Categories </span></a></li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="content-wrapper">

            <router-outlet></router-outlet>
        </div>


    </div>
</div>