<div data-backdrop="static" data-keyboard="false" id="add_product" class="modal fade bd-example-modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="close()" class="close" #closebutton data-dismiss="modal">&times;</button>
                <h5 *ngIf="!edit" class="modal-title"> Add new box </h5>
                <h5 *ngIf="edit" class="modal-title"> edit box </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form #f="ngForm" action="">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Box name </label>
                                <input required #Name="ngModel" name="Name" [(ngModel)]="box.Name" type="text"
                                    class="form-control" placeholder="box name">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Username</label>
                                <input required #Username="ngModel" [(ngModel)]="box.Username" type="text"
                                    class="form-control" name="Username" placeholder="user name">

                            </div>
                        </div>
                        <div *ngIf="!edit" class="col-md-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input required #Password="ngModel" [(ngModel)]="box.Password" type="password"
                                    class="form-control" name="Password" placeholder="Password">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Min boxes</label>
                                <input required #Available="ngModel" [(ngModel)]="box.MinBoxes" type="number"
                                    class="form-control" name="Available" placeholder="Available boxes">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input required #Price="ngModel" [(ngModel)]="box.Price" type="number"
                                    class="form-control" name="Price" placeholder="Price EGP">

                            </div>
                        </div>
                        <div [ngClass]="{'col-md-12':edit,'col-md-6':!edit}">
                            <div class="form-group">
                                <label>Contact</label>
                                <input required #Contact="ngModel" name="Contact" [(ngModel)]="box.Contact" type="text"
                                    class="form-control" placeholder="+01">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <mat-label>Category</mat-label>
                                <div style="height: 10px;"></div>
                                <select style="width: 200px;height: 21px;" name="Type" [(ngModel)]="box.Type"
                                    matNativeControl>
                                    <option selected value="meals">Meals</option>
                                    <option value="baked">Baked</option>
                                    <option value="groceries">Groceries</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>From</label>

                                <ngb-timepicker (ngModelChange)="fromChange($event)"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="from">
                                </ngb-timepicker>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>To</label>
                                <ngb-timepicker (ngModelChange)="toChange($event)" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="to"></ngb-timepicker>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="upload-btn-wrapper-file" class="form-group">
                                <label>logo</label>
                                <input class="btnFile" width="20px" style="font-size:10px;" type="file" id="file"
                                    #logoPhoto (change)="onLogoSelected($event)" name="image" autocomplete="off"
                                    accept=".png,.jpg" />
                                <img style="margin-top: 20px;" *ngIf="box.Logo" width="200" height="200"
                                    [src]="box.Logo" alt="logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="upload-btn-wrapper-file" class="form-group">
                                <label>Banner</label>
                                <input class="btnFile" width="20px" style="font-size: 10px;" type="file" id="file"
                                    #bannerPhoto (change)="onBannerSelected($event)" name="image" autocomplete="off"
                                    accept=".png,.jpg" />
                                <img style="margin-top: 20px;" *ngIf="box.Banner" width="200" height="200"
                                    [src]="box.Banner" alt="Banner">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea required #Description="ngModel" name="Description"
                                    [(ngModel)]="box.Description" rows="3" class="form-control"
                                    placeholder="Box details"></textarea>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <button (click)="openMap()" *ngIf="!addLocation" type="button" class="btn btn-dark">add your
                                location</button>
                        </div>
                        <div *ngIf="addLocation" class="col-md-6">
                            <div class="form-group">
                                <img style="z-index: 1000;position: absolute;top: 155px;left: 200px;"
                                    src="assets/images/marker.png" height="60" width="60">
                                <agm-map [clickableIcons]="false" [showDefaultInfoWindow]="false"
                                    style="position: relative;" (centerChange)="locationChnaged($event)"
                                    style="height: 400px;width: 450px;" [latitude]="lat" [zoom]="zoom"
                                    [longitude]="lng">
                                </agm-map>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="close()" class="btn btn-link" data-dismiss="modal">Close</button>
                <button *ngIf="!f.invalid && addLocation && !loading && box.Logo!=undefined &&box.Banner!=undefined"
                    (click)="save(f); f.reset();" type="button" class="btn btn-success">Save
                    changes</button>
                <button *ngIf="f.invalid && !loading" disabled type="button"
                    class="btn btn-success">Complete all
                    fields</button>
                <button *ngIf="!f.invalid && !addLocation && !loading" disabled type="button"
                    class="btn btn-success">add your
                    location</button>
                <button
                    *ngIf="box.Logo==undefined &&box.Banner==undefined &&!f.invalid && addLocation && !loading"
                    disabled type="button" class="btn btn-success">
                    pick logo and banner</button>

                <mat-spinner style="z-index: 1500;" *ngIf="loading" color="primery" diameter="30" mode="indeterminate">
                </mat-spinner>

            </div>
        </div>
    </div>
</div>