
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: rgb(15, 59, 17);
}

.upload-btn-wrapper-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btnFile {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper-file input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }